.widget__w-radio-group
{
    padding-top: 3px;

    &_label
    {
        font: 11px Tahoma;
        text-align: center;
        color: #fff;

        margin-bottom: 3px;
    }

    .radio_type_line
    {
      color: #fff;
    }
}
