.widgets
{
    &__item,
    &__item:after,
    {
        width: 80px;
        height: 80px;

        border-radius: 10px;
    }

    &__item
    {
        display: inline-block;

        border: 3px solid #080808;

        transition: box-shadow 0.5s;

        margin: 2px 5px;

        &:hover
        {
            box-shadow: 0 0 15px 0px;
        }

        &:after
        {
            position: absolute;

            background-color: #FFF;

            font: 60px Tahoma;
            text-align: center;

            opacity: 0;
            content: '+';
            cursor: pointer;

            transition: opacity 0.5s
        }

        &:hover:after
        {
            opacity: 0.3;
        }
    }
}
