.lib-status
{
    &__branch
    {
        width: 95%;
        height: 40px;
        margin: 0 auto 2px auto;
        color: #000;
        background: #fff;
        display: table-row;
    }

    &__branch-name
    {
        width: 130px;
        color: #A3A3A3;
        font: bold 16px Tahoma;
    }

    &__branch-status
    {
        font-size: 25px;
        padding: 10px;

        &_status
        {
            &_success
            {
                color: #86CB5C;
            }

            &_failed
            {
                color: #CB5C5C;
            }
        }
    }

}


