.widget
{
    &__set-save
    {
        position: absolute;
        left: 100%;
        top: 100%;

        margin: -28px 0 0 -52px;
    }

    &__set-title {
        text-align: center;
        font: bold 14px Tahoma;
        color: #787878;

        padding: 5px;
    }

    &__set-controls
    {
        padding: 0 5px;
    }

    .input
    {
        width: 100%;
    }
}
