.navigator__tail-wrap
  width: 41px;
  height: 30px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 3px;

.navigator__tail
  width 40px
  height 40px
  background #282828
  transform: rotate(45deg);
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  position: relative;
  top: 15px;
